.unloaded {
  opacity: 0;
}

.loaded {
  opacity: 1;
  transition: opacity 2s ease;
  margin-left: unset !important;
}

.loader {
  margin-left: 30%;
  margin-right: auto;
}

.weather_info {
  margin-left: 10%;
  margin-right: auto;
  text-align: center;
}

.service_unavailable {
  margin-left: auto;
  margin-right: 30%;
}

.content {
  text-align: center;
}

.container {
  display: block;
  padding: unset !important;
}

#edit-lat-lon-wrapper {
  display: none;
}

.map {
  height: 300px;
  position: relative;
  margin: 0 auto;
}

.weather {
  width: 40%;
  float: left;
  position: relative;
  margin: 0 50px;
  text-align: center;
  padding-bottom: 50px;
}

.country-image {
  height: 250px;
  padding: 20px 0;
}

h1 {
  text-align: center !important;
}
