.unloaded {
  opacity: 0;
}

.loaded {
  opacity: 1;
  transition: opacity 2s ease;
  margin-left: unset !important;
}

.loader {
  margin-left: 30%;
  margin-right: auto;
}

.weather_info {
  margin-left: 10%;
  margin-right: auto;
  text-align: center;
}

.service_unavailable {
  margin-left: auto;
  margin-right: 30%;
}

.content {
  text-align: center;
}

.container {
  display: block;
  padding: unset !important;
}

#edit-lat-lon-wrapper {
  display: none;
}

#map {
  height: 300px;
  position: relative;
  margin: 0 auto;
}

.weather {
  float: left;
  width: 30%;
  margin: 0 20px;
}
