<!-- Let's output the three variables passed to this template -->

<h1>You haven't made any requests</h1>
<p>In order to have weather info displayed on this page, use <a href="/weather-form">this </a> form.</p>
