{#
/**
 * @file
 * Template for the order processing notice.
 *
 * @ingroup themeable
 */
#}
<h1>You haven't made any requests</h1>
<p>In order to have weather info displayed on this page, use <a href="/weather-form">this </a> form.</p>
